

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, #2980B9 0%, #5499C7 99%, #A9CCE3 100%   );
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-blend-mode: multiply,multiply;
    font-family: 'Oswald', sans-serif;
}

.form{
    background-color: lightcyan;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 0.5em;
    padding: 2em 1.5em;
}

.form-container{
    width: 100%;
    display: grid;
    gap: 1em;
}

.form-title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: .4em;
}
.form-input{
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
}

.form-input-message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}
.form-cta{
    font-family: inherit;
    background-color: #089fe0;
    color: #fff;
    border: none;
    font-weight: 450;
    padding: .7em 0;
    border-radius: .5em;
    cursor: pointer;
    
}